.background {
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  background-size: cover;

  border: 2px solid white;
}
.container {
  margin-top: 45px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 3px solid white;
  border-radius: 20px;
}

.weather-app {
  font-family: "Georama", sans-serif;
  padding: 15px 15px 15px 15px;
  color: #415b90;
}

#city-search {
  text-align: center;
}

.city-search-bar {
  width: 350px;
  text-align: center;
  border: 3px solid #415b90;
  border-radius: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: teal;
  opacity: 15%;
}

hr {
  border: 0;
  border-top: 10px solid teal;
  background-color: teal;
}
